@use 'base';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	text-wrap: balance;
	line-height: 1.5;
	color: base.$dark-gray;
}

html {
	scroll-behavior: smooth !important;
}

// sections
.sectionContainer {
	width: 90%;
}

.defaultSection {
	padding: 5vw;
}

// fonts
h1 {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

h3 {
	font-size: 1.4rem;
	font-weight: 400;
}

h4 {
	font-size: 1.2rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

// buttons
button {
	padding: 0.5rem 1rem;
	border: 0;
	width: fit-content;
	cursor: pointer;
}

.arrowButton {
	display: flex;
	align-items: center;
	gap: 1rem;

	.arrow {
		display: flex;
		align-items: center;

		hr {
			width: 2rem;
			height: 1px;
		}
	}
}

.arrowButton:hover {
	.arrow {
		hr {
			display: block;
			width: 4rem;
			height: 1px;
		}
	}
}

// Scrollbar

/* width */
::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 5px;
	position: relative;
}

::-webkit-scrollbar:horizontal {
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #707070;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: gray;
}

@media screen and (max-width: 1024px) {
	.sectionContainer {
		width: 80%;
	}

	.defaultSection {
		padding: 10vw;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}
}
