@use '@/app/base';

.hero {
	position: relative;
	min-height: 100vh;
	background-image: linear-gradient(
		to right,
		transparent,
		transparent,
		rgba(black, 0.5),
		rgba(black, 0.8)
	);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10vw;
}

.heroContentContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	* {
		color: white;
	}
}

.heroContent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2rem;

	> div {
		grid-column: 8 / 13;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

.desktopSection,
.mobileSection {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.mobileSection {
	padding: 10vw;
	display: none;

	* {
		color: white;
	}
}

@media screen and (max-width: 1024px) {
	.hero {
		background-image: linear-gradient(
			to bottom,
			transparent,
			transparent,
			rgba(black, 0.5),
			rgba(black, 0.8)
		);
		justify-content: end;
	}

	.heroContent {
		> div {
			grid-column: span 12;
		}
	}

	.desktopSection {
		display: none;
	}

	.mobileSection {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
}
